# --- Supabase ---
NEXT_PUBLIC_SUPABASE_URL=https://bvjacizlnnmjsiheavth.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ2amFjaXpsbm5tanNpaGVhdnRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyNDgyNzQsImV4cCI6MjA5ODgyNDI3NH0.97XM1jR-urKvMevbSNFB-wt7esb1Li9S8KWGZUDEwv0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ2amFjaXpsbm5tanNpaGVhdnRoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzI0ODI3NCwiZXhwIjoyMDk4ODI0Mjc0fQ.494HS7Zl2cyuGuZAs7f_nIwfpsOGkr8nenu5zE0Zd0E
STRIPE_WEBHOOK_SECRET=whsec_aB2HhYUzwYHXVhopnTfeR40qkErT8Sah
NEXT_PUBLIC_APP_URL=http://localhost:3000
NGN_PER_GBP=2050
SERVICE_FEE_PENCE=99
MIN_ORDER_NGN=1000
MAX_ORDER_NGN=500000
WHATSAPP_TOKEN=EAATZA4zTrxZA4BR5RIa29aoV1r27ZBFpc7epu0EEozXuG2Ie0bNnKjR8dJB58WzTORe6LrS88A19xlVW4ehL1xqNIw0PA0J67FOrXaj0pWgjIpdqE5iVqpZClLux3CrOnZCdYZARYPR5mJyNy8kx8fDzxZAvH0Vd5mh0lvlvvRXwBH418jXmoZCr6qcYEetTSQZDZD
WHATSAPP_PHONE_NUMBER_ID=1246561845201764
RESEND_API_KEY=re_Ex6pH1Ur_6DqBCJyKK2y2su3DmBQ7LimE
ALERT_EMAIL=azubuikedavies@gmail.com
ALERT_FROM=StillHome <alerts@songsnap.online>
LOW_BALANCE_NGN=100000
